@page
@model koi.webapp.Pages.WaterParameterManagement.DetailsModel

<div>
    <h4>WaterParameter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.MeasurementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.MeasurementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Salt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Salt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Ph)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Ph)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.O2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.O2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.No2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.No2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.No3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.No3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Po4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Po4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Pond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Pond.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WaterParameter.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
